.intro{
    background-color: whitesmoke;
    display: flex;

    .left{
        flex: 0.5;
        overflow: hidden;

        .imgContainer{
            width: 325px;
            height: 350px;
            background-color: white;
            border-radius: 60%;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img{
                height: 90%;
            }
        }
    }

    .right{
        flex: 1;
        position: relative;

        .wrapper{
            width: 70%;
            height: 70%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1{
                font-size: 45px;
                margin: 10px 0;
            }
            h2{
                font-size: 25px;
            }
            h3{
                font-size: 20px;
            }
            body{
                margin: 30px 0;
                font-size: 15px;
                line-height: 25px;
                font-weight: 500;
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 35%;

            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
            }
        }
    }
}